/* FUENTES */
@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Italic.ttf");
  font-style: italic;
}

/* GENERALES */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Montserrat;
}

/* --- HEADER --- */
/* PARTE DE ARRIBA */
#img_logo {
  width: 240px;
}

#img_logo_admin {
  width: 400px;
}

#header_top * {
  margin: 0;
  padding: 0;
}

#header_top * i,
#header_top * span {
  color: white;
  text-decoration: none;
}

#header_top * i {
  font-size: 30px;
}

#header_top * li {
  margin-right: 15px;
}

#header_top_admin a {
  margin: 0 auto;
}

#acceso_texto,
#carrito_texto {
  display: none;
}

#carrito_num {
  position: absolute;
  top: -15px;
  right: -15px;
}

/* MENÚ */
#header_menu * {
  padding: 0;
  margin: 0;
}

#header_menu {
  margin: 10px 0px;
}

#header_menu * a {
  color: white;
  text-decoration: none;
}

#header_menu * a:hover {
  color: yellow;
  font-weight: bold;
}

.letra_header_menu {
  width: 30px;
}

#header_menu * li:last-child {
  margin-left: 8px;
}

#header_menu * li:last-child {
  margin-left: 8px;
}

.texto_header_menu {
  font-size: 8px;
}

/* -- CUERPO -- */
.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#container_recDatos {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#container_registro {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#segundoParrafoRec {
  font-size: 12px;
  color: rgb(187, 187, 187);
}

/* CARRITO */
#container_carrito {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#subtotal_carrito {
  background-color: rgba(255, 255, 255, 0.1);
}

.nombreProd {
  font-size: 18px;
  font-weight: bold;
}

.tipoProd {
  font-size: 12px;
}

.ingredProd {
  font-size: 12px;
}

.cantProd {
  font-size: 12px;
}
.cantProd input {
  width: 25%;
}

.productoButton {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.descuento {
  font-size: 12px;
}

.metodoRecogida {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tuPedido,
.headerTuPedido {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.subtotal {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* REGISTRO */
#registro {
  padding: 5px;
  padding-top: 0px;
}

#registro h3,
#p_dinosdatos {
  color: white;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.1);
}

#registro h3 {
  padding: 10px 0px 0px 10px;
}

#p_dinosdatos {
  font-size: 12px;
  padding: 5px 0px 10px 10px;
  color: rgb(187, 187, 187);
}

#registro form {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255, 0.15);
}

#registro * label {
  color: white;
}

.icono_pass {
  float: right;
  margin-right: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#contenido_pass {
  font-size: 10px;
  color: rgb(187, 187, 187);
}

/* - VENTAJAS REGISTRO - */
#ventajas_registro .card-header {
  font-size: 19px;
}

#ventajas_registro .card-body {
  font-size: 15px;
}

#yaTienesCuenta .alert {
  background-color: #dc3545;
  color: white;
}
#yaTienesCuenta .alert:hover {
  background-color: #a72734;
}

/* MI CUENTA */
#miCuenta_h5 {
  color: white;
  background-color: rgb(255, 255, 255, 0.15);
}

.miCuenta_a {
  background-color: rgb(255, 255, 255, 0.15);
  color: yellowgreen;
  text-decoration: none;
  text-align: center;
}

.miCuenta_a:hover {
  color: yellowgreen;
  background-color: rgb(255, 255, 255, 0.2);
}

/* FORMULARIO PERFIL */
#perfil,
#mispedidos,
#detallespedido,
#tabla_panel {
  padding: 5px;
  padding-top: 0px;
}

#detallespedido h5 {
  color: white;
  background-color: rgb(255, 255, 255, 0.15);
}

#perfil h3,
#mispedidos h3,
#tabla_panel h3 {
  color: white;
  padding: 10px 0px 0px 10px;
  background-color: rgb(255, 255, 255, 0.1);
}

#perfil form {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255, 0.15);
}

#perfil * label {
  color: white;
}

/* MIS PEDIDOS TABLA*/
.header_tabla_pedidos,
.header_panel,
.header_tabla_detallespedidos {
  font-size: 12px;
}

.filas_tabla_pedidos,
.filas_tabla_detallespedidos,
.filas_panel {
  font-size: 12px;
}

.panel_menu_links {
  font-size: 13px;
}

/* INICIO SESIÓN */
#inicioSesion {
  padding: 5px;
  padding-top: 0px;
}

#inicioSesion h5 {
  color: white;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.1);
}

#inicioSesion form {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255, 0.15);
}

#inicioSesion * label {
  color: white;
}

.icono_pass {
  float: right;
  margin-right: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#enlaceOlvidarDatos a {
  text-decoration: none;
  font-size: 15px;
}

#enlaceOlvidarDatos {
  margin-top: 7px;
}

#debajo_form {
  background-color: rgb(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#datosVacios p,
#datosIncorrectos p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.info_beneficio {
  font-size: 12px;
}
/* ERRORES */
.enlace_volver_home {
  text-decoration: none;
  color: yellow;
}

.enlace_volver_home:hover {
  text-decoration: none;
  color: rgb(196, 196, 0);
}

/* -- FOOTER -- */
#redsoc_footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.red_social {
  width: 50px;
}

.red_social:hover {
  transform: scale(1.1);
}

#texto_footer {
  color: white;
  font-size: 10px;
}

.url_admin {
  color: white;
  text-decoration: none;
}

.url_admin:hover {
  color: yellow;
  text-decoration: none;
}

/* BREAKPOINTS */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #img_logo {
    width: 300px;
  }

  .letra_header_menu {
    width: 60px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #acceso_texto,
  #carrito_texto {
    display: inherit;
    font-size: 10px;
  }

  #carrito_num {
    position: absolute;
    top: -20px;
    right: 5px;
  }

  #header_menu * li:last-child {
    margin-left: 15px;
  }

  .texto_header_menu {
    font-size: 12px;
  }

  .letra_header_menu {
    width: 45px;
  }

  .header_tabla_pedidos,
  .header_tabla_detallespedidos {
    font-size: 15px;
  }

  .filas_tabla_pedidos,
  .filas_tabla_detallespedidos {
    font-size: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .texto_header_menu {
    font-size: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
